{% extends "base.html" %}
{% block content %}
    <div class="position-absolute top-50 start-50 translate-middle">
        <h2>Are you sure you want to delete your comment?</h2>
        <div class="fs-6 fw-lighter">(This action cannot be canceled)</div>
        <br>
        <p>{{ comment }}</p>
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Delete" class="btn btn-danger">
            <a href = "/" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock content %}